*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

/vanite-data/build
/vanite/build
/vanite-firebase/build
/vanite-prefs/build
/vanite-permissions/build
/vanite-ui/build
/vanite-utils/build
/vanite-logic/build

# Remove Secrete Keys
/vanite/SecretRingKey.kbx
/vanite-data/SecretRingKey.kbx
/vanite-firebase/SecretRingKey.kbx
/vanite-log/SecretRingKey.kbx
/vanite-permissions/SecretRingKey.kbx
/vanite-prefs/SecretRingKey.kbx
/vanite-ui/SecretRingKey.kbx
/vanite-ui-binding/SecretRingKey.kbx
/vanite-utils/SecretRingKey.kbx